    body{
        background-color: rgb(25, 25, 25);
        color: white;
        font-family: Arial;
    }

    .move-icon{
        height: 50px;
    }

    .move-button{
        background-color: transparent;
        border: 3px solid white;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin-left: 10px;
        cursor: pointer;
    }

    .result{
        font-size: 25px;
        font-weight: bold;
        margin-top: 50px;
    }

    .js-btn-reset, .js-autoplay-btn{
        border: none;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 20px;
    }

